#div1{
    height: 200px;
    width: 400px;
    background-color: lightgray;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
    margin-bottom: 20px;
    float: right;
}
img{
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}
#div2{
    height: 200px;
    width: 400px;
    opacity: 0.5;
    background: green;
    /* position:absolute ; */
    /* position: relative; */
    /* position: fixed; */
    position: sticky;
    /* left:50%; */
    top: 0px;
}