.top_head{
    height: 60px;
    width: 100%;
    background-color: #007ee5;
    position: fixed;
    left: 0px;
    top:0px;
    display:inline;
}
.mid{
    padding-left: 100px;
    background-color: inherit;
    height: 30px;
    width: 100%;
}
.img1{
    padding-left: 10px;
    height:30px;
    width: 30px;
}
.top_list{
    display: inline;
}
#head_h3{
    color: aliceblue;
    padding-left: 800px;
    display: inline-block; 
}
.bottom_head{
    background: white;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0px;
    padding-left: 100px
}
.bottom_list{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}
.enqimg{
    height: 30px;
    width: 70px;
    opacity: 1;
}
img:hover{
    opacity: 0.5;
}
.baabtraimg{
    height: 90px;
}
.div3{
    background-color: #015c8e;
    width: 100%;
    height: 800px;
    left: -2px;
}
#orayimg{
    /* position: relative; */
    /* width: 20px;
    height: 20px; */
    padding-top: 200px;
    padding-left: 600px;

}
#whatsappimg{
    position: fixed;
    width: 45px;
    height: 45px;
    padding-left: 590px;
    padding-top: 300px;

}
#h2id{
    display: inline-block;
    padding-left: 480px;
    color: aliceblue;
}
#div4{
    background-color: rgba(73, 73, 73, 0.5);
    height: 250px;
    width: 60%;
    /* position:relative; */
    /* padding-left: 300px; */
    margin: auto;
    
}
#divh1{
    padding-top: 20px;
    text-align: center;
    color: aliceblue;

}
#p1{
    text-align: center;
    color: #007ee5;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#div5{
    height: auto;
    width: 100%;
    /* background-color: gray; */
    background-color: aliceblue;
}
#div6{
    padding-left: 200px;
    height: auto;
    width: auto;
    /* background-color: lightgray; */
    background-color: aliceblue;
}
.lan5{
    padding-left: 10px;
    height: auto;
    width:auto ;
}
.langdev{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    width: auto;
}
.pythonimg{
    height: auto;
    width: auto;
}
.imgpy{
    height: 150px;
    width: 200px;
}
.lang{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}
.divtext{
    width: inherit;
    height: inherit;
}
.bref{
    width: 500px;
    height: auto;
    padding-right: 100px;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}












