{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <img src="{% static 'imgages/lt.jpg' %}" alt=""width="25">
    <span><a href="{% url 'index' %}">Back to Home</a></span>
    <h2 align="center"><u> about us</u></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque hic tempore expedita similique quisquam dolor sunt doloribus autem eius dolorum ad doloremque, recusandae quas voluptates debitis unde fugiat laboriosam provident, nemo facilis. Officia placeat, consequatur exercitationem reiciendis quis labore deserunt voluptas perferendis beatae sed nostrum numquam omnis ad similique libero.</p>
    <img src="{% static 'images/img1.png' %}" alt="" width="500">
</body>
</html>