{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baabtra</title>
    <link rel="stylesheet" href="{% static 'css/style5.css' %}">
</head>
<body>
    <div class="top_head">
       <div class="mid">
            <ul>
                <li class="top_list"><img class="img1" src="{% static 'images/fb.png' %}" alt=""></li>
                <li class="top_list"><img class="img1" src="{% static 'images/twi.png' %}" alt=""></li>
                <li class="top_list"><img class="img1" src="{% static 'images/insta.png' %}" alt=""></li>
                <li class="top_list"><img class="img1" src="{% static 'images/linkedin.png' %}" alt=""></li>
                <li class="top_list"><h3 id="head_h3">Contact us +91 8592058 4444</h3></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="bottom_head">
        <li class="bottom_list"><img class="baabtraimg" src="{% static 'images/baabtra.webp' %}" alt=""></li>
        <li class="bottom_list">INTERNSHIP PROGRAM</li>
        <li class="bottom_list">PLACEMENTS</li>
        <li class="bottom_list">ABOUT US</li>
        <li class="bottom_list">BLOG</li>
        <li class="bottom_list">LOGIN</li>
        <li class="bottom_list"><img class="enqimg" src="{% static 'images/enq.png' %}" alt=""></li>

    </div>
    <br>
    <div class="div3">
        <img id="orayimg" src="{% static 'images/oray_logo.webp' %}" alt="">
        <img id="whatsappimg" src="{% static 'images/whatsapp.png' %}" alt="">
        <br>
        <h2 id="h2id">We are affiliated with oray education London,UK.</h2>
        <br>
        <div id="div4">
            <h1 id="divh1">GETTING A SOFTWARE JOB IS SO EASY WITH OUR INTERNSHIP PROGRAM</h1>
            <p id="p1">Learn programming from the most trusted software training company in Calicut with highest placement record. Enroll for software courses and internship programs in Python,PHP, Angular or flutter to start your career.</p>

        </div>

    </div>
    <br>
    <div id="div5">
        <div id="div6">
            <div class="lang5">
                <div class="langdev">
                    <div class="pythonimg">
                        <img class="imgpy" src="{% static 'images/python.webp' %}" alt="">
                    </div>
                    <div>
                        <h3 class="lang">Python training</h3>
                    </div>
                </div>
                <div class="langdev">
                    <div class="pythonimg">
                        <img class="imgpy" src="{% static 'images/php.webp' %}" alt="">
                    </div>
                    <div>
                        <h3 class="lang">PHP training</h3>
                    </div>
                </div>
                <div class="langdev">
                    <div class="pythonimg">
                        <img class="imgpy" src="{% static 'images/angular.webp' %}" alt="">
                    </div>
                    <div>
                        <h3 class="lang">Angular training</h3>
                    </div>
                </div>
                <div class="langdev">
                    <div class="pythonimg">
                        <img class="imgpy" src="{% static 'images/flutter.webp' %}" alt="">
                    </div>
                    <div>
                        <h3 class="lang">Flutter training</h3>
                    </div>
                </div>
                <div class="langdev">
                    <div class="pythonimg">
                        <img class="imgpy" src="{% static 'images/javascript.webp' %}" alt="">
                    </div>
                    <div class="divtext">
                        <h3 class="lang">JavaScripts training</h3>
                    </div>
                </div>
            </div>
            <br>
            <div class="brif">
                <h1>Explore Our internship programme</h1>
                <p>baabtra.com offers you courses and training programs that will enable you to master programming in depth. Enroll and start learning <br> with the experts in the  industry . We offer PHP Training with Laravel Framework, Python Training with Django Framework, Angular <br> Training and Node.js Training.</p>
            </div>
        </div>

    </div>
    <!-- <div class="">

    </div> -->
</body>
</html>